@mixin flexContainer($flow:row wrap,$axis:space-around,$caxis:stretch){
	display: flex;
	flex-flow: $flow;
	justify-content: $axis;
	align-items: $caxis;
	article{display:flex;}
}

@mixin bkg_contain($url:false,$fixed:false,$posx:center,$posy:center){
	background-size: contain;
	@include bkg_position($posx,$posy);
	@include bkg_common($url:$url,$fixed:$fixed);
}

@mixin bkg_cover($url:false,$fixed:false,$posx:center,$posy:center){
	background-size: cover;
	@include bkg_position($posx,$posy);
	@include bkg_common($url:$url,$fixed:$fixed);
}

@mixin bkg_position($posx:center,$posy:center){
	background-position:$posx $posy;
	background-repeat: no-repeat;
}
@mixin bkg_common($url:false,$fixed:false){
	@if($url){ background-image: url($url);}
	@if($fixed){ background-attachment:fixed; }
}